body {
    font-size: 1.2rem;
}
#app {
    margin: 100px;
}
li {
    line-height: 2.0;
    list-style-type: none;
}
.collection-header h5 {
    font-size: 1.2rem;
}
li span.done {
    text-decoration: line-through;
    color: #bbb;
}
li.done {
    background: #bbb;
}